<!-- <h1>Loaded!</h1> -->
<!-- <h1>Mongo Scraper</h1>
<a href="#">Home</a>
<button type="button" name="button">Scrape</button>
<a href="#">Saved Articles</a>
<div id="">
  <p>Content goes here</p>
</div> -->
<div id="wrapper">
  <h1>NYT Scraper</h1>

  <button id="scrape">Scrape Articles</button>

  <button id="allArt">Saved articles</button>

  <div id="articles">
    
  </div>

</div>
